.header{
    display: flex;
    height:100px;
    justify-content: space-between;
    align-items: center;
    padding: auto 40px;
    border-bottom: 2px solid $primary-color;
    position: relative;
    &-logo{
        // flex: 1;
        margin-left: 30px;
        font-size: 34px;
        cursor: pointer;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 35px;
            height: 45px;
        }
        span {
            color:$primary-color;

        }
    };
    &-nav{
        // flex:3;
        position:relative;
        z-index: 5;
    }
}
.nav{
    &-menu ul{
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-item{
        padding:20px;
        position: relative;
        font-size: 20px;
        a{  
            position: relative;
            color: $text-color;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all 0.3s ease-in-out;
        }
        &:hover > a{
            color:$primary-color;
            border-bottom: 2px solid $primary-color;
        }
        &:hover .nav-dropdown{
            opacity: 1;
            pointer-events: auto;
            transform: translate(0, 0);
            
        }
    }
    &-dropdown{
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        transform: translateY(10px);
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s linear;
        ul{
            background-color: $tear-color;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            border-radius: 10px;
            padding: 10px;
            gap:2px;
            >li{
                >a{
                    transition: all 0.2s linear;
                    &:hover{
                        color:black;
                    }
                }
            }
        }
        &-arrow{
            position:absolute;
            background-color: inherit;
            width: 15px;
            height:15px;
            transform: rotate(45deg);
            top: -8px;
            left: 30px;

        }
        &-link{
            a{
                color:white;
            }
            padding: 10px 10px;
            transition: all 0.2s linear;
            width: 100%;
            border-radius: 20px;
            &:hover{
                background-color: $news-color;
            }
        }
    }
}
.icon-menu{
    font-size: 40px;
    font-weight: 600;
    color:$primary-color;
    z-index: 5;
    display: none;
}
@media screen and (max-width: 1279px) {
    .header{
        height: 120px;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        margin: auto;
        &-logo{
            align-self: flex-start;     
        }
        &-nav{
            align-self:flex-end;
        }
    }
}
@media screen and (max-width: 1023px) {
    .header{
        justify-content: space-between;
        flex-direction: row;
        &-logo{
            align-self: center;
        }
        &-nav{
            position: absolute;
            min-height: 100vh;
            top:20px;
            right:-10px;
            align-self: start;
            background-color: $dark-blue;
            color: white;
            opacity: 0.8;
            margin-right: 30px;
            border-radius: 20px;
            padding: 20px 0;
            z-index: 4;
            transform: translateX(500px);
            transition: all 0.5s ease-in-out;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height:100%;
                top:0;
                left: 0;
                filter: blur(5px);
                background-color: inherit;
                border-radius: inherit;
                z-index: -1;
            }
        }
    }
    .nav{
        &-menu{
            padding: 10px 30px;
            > ul{
                border-top:1px solid white;
                margin-top: 50px;
                width: 300px;
                color:white;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
        &-item{
            width:100%;
            padding: 5px;
            >a{
                padding: 10px 10px;
                color:white;
                ion-icon{
                    transform: rotate(-90deg);
                    transition: all 0.2s linear;
                    padding: 5px;
                }
            }
            &:hover {
                >a{
                    background-color:#acc5f041;
                    color:inherit;
                    border: none;
                    border-radius: 20px;
                }
            }
            >li:first-child{
                border-top: 1px solid white;
            }
        }
        &-dropdown{
            position: relative;
            display:none;
            width: 90%;
            border-bottom: 1px solid white;
            ul{
                width: 100%;
                background-color: inherit;
            }
        }
    }
    .icon-menu{
        width: 40px;
        display: block;
        margin-right: 30px;
        pointer-events: auto;
        cursor: pointer;
        // &:active .header-nav{
        //     transform: translateX(0);
        // }
    }
}


