.news{
    width: 90%;
    margin: 30px auto;
    &-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 2px solid $news-color;
        padding-top: 30px;
        color:#008080;
        &-title{
            font-size: 30px;
            font-weight: 600;
        }
        &-more{
            font-size: 20px;
            ion-icon{
                font-size: 14px;
            }
        }
    }
    &-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px auto;
    }
    &-main{
        width: 65%;
        height: 500px;
        cursor: pointer;
        &-image{
            width: 100%;
            height:80%;
            object-fit: cover;
            border-radius: 40px;
        }
        &-text{
            font-size: 20px;
            font-weight: 500;
            text-indent: 30px;
            color:inherit;
            display:-webkit-box;
            -webkit-line-clamp:2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
        &-title{
            color:$text-color;
            text-indent :30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &-list{
        width: 30%;
        height: 500px;
        overflow-y: auto;
    }
    &-item{
        margin-bottom: 50px;
        cursor: pointer;
        &-image{
            border-radius: 20px;
            width: 100%;
            height:200px;
            object-fit: cover;
        }
        &-content{
            display:-webkit-box;
            -webkit-line-clamp:2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            text-indent: 10px;
        }
        &-title{
            color:$text-color;
            text-indent :10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}