.admis{
    width:100%;
    position: relative;
    &-list{
        display: flex;
        align-items: flex-start;
    }
    &-item{
        width: 20%;
        ma
    }
}
.tab-next, .tab-prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #999;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s ease;
}