.admis{
    max-width:80%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    &-list{
        display: flex;
        align-items:stretch;
        justify-content: space-around;
        overflow-x: auto;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
        ::-webkit-scrollbar {
            display: none;
        }
    }
    &-item{
        width: 20%;
        cursor: pointer;
        padding: 10px 15px;
        white-space: nowrap;
        border-bottom: 1px solid #eee;

    }
    &-content{
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
}
.tab-next, .tab-prev{
    cursor: pointer;
    position: absolute;
    top: -50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #999;
    background-color: #fff;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s ease;
}
.tab{
    &-next{
        right:5%;
    }
    &-prev{
        top:5%;
    }
}