.footer{
    width: 100%;
    margin-top: 50px;
    &-container{
        width:100%;
        display: flex;
        align-items:flex-start;
        justify-content: space-around;
    }
    &-table{
        &-headder{
            color: $text-color;
        }
        &-content{
            color: $primary-color;
            font-size: 14px;
            font-weight: 300;
            margin-top: ;
            text-align:justify;
            padding: 10px;
        }
    }
}