.footer{
    width: 100%;
    margin-top: 50px;
    background-color: $ice-blue;
    padding-top: 30px;
    &-container{
        width:100%;
        display: flex;
        align-items:flex-start;
        justify-content: space-around;
    }
    &-table{
        width: 60%;
        &-headder{
            color: $text-color;
            text-align: justify;
        }
        &-content{
            color: $primary-color;
            font-size: 14px;
            font-weight: 300;
            margin-top: 50px;
            text-align:justify;
            padding: 10px;
        }
    }
    &-img{
        width: 100px;
    }
    &-address{
        font-size: 16px;
        font-weight: 500;
        
    }
    &-container2{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}