html {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color:$text-color;
}
*{
    margin: 0;
    padding: 0;
}
*,*:before,*:after {
    box-sizing: border-box;
}
input,
textarea,   
select,
button{
    outline: none;
}
input{
    line-height: normal;
}
label,
button{
    cursor: pointer;
}
a {
    text-decoration: none;
    color:inherit;
}
img {
    display: block;
    max-width: 100%;
}
ul, ol{
    list-style-type: none
}
.block{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    &-caption{
        font-size: 16px;
        color:$text-color ;
        position: relative;
        padding: 0 10px;
    }
    &-caption:before{
        left: 0;
        transform:translateX(-100%) translateY(-50%);
    }
    &-caption:after{
        right: 0;
        transform: translateX(100%) translateY(-50%);
    }
    &-caption:before, 
    &-caption:after{
        position: absolute;
        content: "";
        background-color: $primary-color;
        width: 30px;
        height: 2px;
        top: 50%;

    }
    &-caption--left{
        padding-left: 40px;
    }
    &-caption--left:after{
        display: none;
    }
    &-caption--left:before{
        transform: none ;
    }
    &-heading{
        margin-top: 30px;
        font-size: 40px;
        font-weight: 600;
        span{
            display: block;
        }
    }
}
a.button{
    max-width: 100px;
    height: 30px;
    padding: 10px 15px;
    font
    background-color: #00A09A;
    color:inherit;
    border-radius: 20px;
    &:hover{
        background-color: gray;
    }
}