html {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color:$;
}
*{
    margin: 0;
    padding: 0;
}
*,*:before,*:after {
    box-sizing: border-box;
}
input,
textarea,   
select,
button{
    outline: none;
}
input{
    line-height: normal;
}
label,
button{
    cursor: pointer;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
ul, ol{
    list-style-type: none
}