.header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 20px;
    border-bottom: 2px solid $primary-color;
    &-logo{
        font-size: 34px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 30px;
            height: 40px;
        }
        &-text{
            dis
        }
        p {
            color:$primary-color;
        }
    };
    &-menu{
        display: flex;
        justify-content: end;
        align-items: center;
    }
}
.menu{
    &-item{
        font-size: 20px;
        margin: auto 10px;
        font-weight: 600;
        padding: 10px 5px;
        text-align: center;
        font-weight: bold;
        transition: all 0.5s ease;
        &:hover{
            color: $primary-color;
        }
    }
}