.header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &-logo{

    };
    &-menu{
        display: flex;
        justify-content: end;
        align-items: center;
    }
}
.menu{
    &-item{
    margin-right: 30px;
    
}
}