.header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 20px;
    border-bottom: 2px solid $primary-color;
    &-logo{
        font-size: 34px;
    cursor: pointer;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 35px;
            height: 45px;
        }
        p {
            color:$primary-color;

        }
    };
    &-menu{
        display: flex;
        justify-content: end;
        align-items: center;
    }
}
.logo-text{
    display: flex;
}
.menu{
    &-item{
        font-size: 20px;
        margin: auto 10px;
        font-weight: 600;
        padding: 10px 5px;
        text-align: center;
        font-weight: bold;
        transition: all 0.3s ease;
        &:hover{
            color: #3943EF;
            border-bottom: 3px solid #75BCF2;
        }
    }
}