.header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &-logo{
        font-size: 24px;
        font-weight: 800;
        p{
            color:$primary-color;
            display: 
        }
    };
    &-menu{
        display: flex;
        justify-content: end;
        align-items: center;
    }
}
.menu{
    &-item{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
}
}