.header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 20px;
    border-bottom: 2px solid $primary-color;
    img{
        width: 30px;
        height: 40px;
        display: inline-block;
        position: fixed;
        top: 22px;
        left: 10px;
    }
    &-logo{
        font-size: 34px;
        font-weight: 800;
        margin-left:30px;
        p{
            color:$primary-color;
            display: inline;
        }
    };
    &-menu{
        display: flex;
        justify-content: end;
        align-items: center;
    }
}
.menu{
    &-item{
        font-size: 20px;
        margin: auto 10px;
        font-weight: 600;
        padding: 10px 5px;
        text-align: center;
        trans
        &:hover{
            color: $primary-color;
        }
    }
}