.desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $ice-blue;
    &-text{
        font-size: 45px;
    }
    &-image{
        width: 40%;
    }
}