.desc{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 95%;
    height: 500px;
    margin: 50px auto;
    position: relative;
    &-text{
        width: 50%;
    }
    &-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &-item{
        display: flex;
        align-items: center;
        justify-content: start;
        ion-icon{
            color: #2199E5;
        }
        p{
            margin-left: 10px;
        }
    }
    &-title{
        font-size: 45px;
        font-weight: bold;
        max-height: 50%;
        text-align: center;

    }
    &-slider{
        height:100%;
        width: 50%;
        position: relative;
        overflow: hidden;
    }
    &:after{
        content: '';
        position: absolute;
        top: 15%;
        right:5%;
        background-color: $ice-blue;
        width: 55%;
        height: 72%;
        z-index: -1;
    }
}
.list-image{
    border-radius: 50%;
    max-width: 50%;
}
.about-us{
    margin-left: 100px;
}
.slider{
    &-prev, &-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        border-radius:50%;
        font-size: 30px;
        color: gray;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        z-index: 10;
        cursor: pointer;
    }
    &-prev{
        left: 5px;
    }
    &-next{
        right:5px;
    }
    &-dots{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 5px;
        left:50%;
        transform: translateX(-50%);
        gap: 10px;
        &-item{
            border-radius: 50%;
            background-color: #00BFA6;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            width:15px;
            height:15px;
            cursor: pointer;
        }
        .dot-active{
            background-color: white;
        }
        
    }
    
}
@media screen and (max-width: 1439px) {
    
}
