.desc{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin: 0 auto;
    &-text{
        width: 50%;
    }
    &-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &-item{
        display: flex;
        align-items: center;
        justify-content: start;
        ion-icon{
            color: #2199E5;
        }
        p{
            margin-left: 10px;
        }
    }
    &-title{
        font-size: 45px;
        font-weight: bold;
        mar-left: 100px;
        max-height: 50%;

    }
    &-image{
        height:100%;
        object-fit:cover;
        position: relative;
    }
    &:after{
        content: '';
        position: absolute;
        top: 20px;
        right:0;
        background-color: $ice-blue;
        width: 70%;
        height: 100%;
        z-index: -1;
    }
}
.list-image{
    border-radius: 50%;
    max-width: 50%;
}