.news{
    width: 95%;
    margin: 30px auto;
    &-header{
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
    &-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-main{
        width: 65%;
        height: 700px;
        &-image{
            width: 100%;
            height:60%;
            
        }
    }
    &-list{
        width: 30%;
        height: 700px;
        overflow-y: hidden;
    }
}