.news{
    width: 95%;
    margin: 30px auto;
    &-header{
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
    &-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-main{
        width: 65%;
        height: 500px;
        &-image{
            width: 100%;
            height:80%;
            object-fit: cover;
            border-radius: ;
        }
        &-text{
            font-size: 20px;
            font-weight: 500;
            color:inherit;
            display:-webkit-box;
            -webkit-line-clamp:2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }
    &-list{
        width: 30%;
        height: 500px;
        overflow-y: auto;
    }
}