.vnsea{
    width: 90%;
    height: 400px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &-header{
        width: 37%;
        &-content{
            t
        }
    }
    &-image{
        width: 60%;
        img{
            width: 100%;
            height: 400px;  
            object-fit: cover; 
        }
    }
}