.vnsea{
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
    &-header{
        width: 35%
    }
    &-image{
        width: 50%;
        img{
            height: 500px;  
            object-fit: cover; 
        }
    }
}