.vnsea{
    width: 90%;
    height: 400px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &-header{
        width: 100%;
        &-content{
            display:-webkit-box;
            -webkit-line-clamp:3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }
    &-image{
        width: 60%;
        img{
            width: 100%;
            height: 400px;  
            object-fit: cover; 
        }
    }
    &-btn{
        font-size: 14px;
        margin-left: 100px;
        
    }
    &-container{
        width: 37%;
    }
}