.vnsea{
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    &-header{
        width; 
    }
    &-image{
        img{
            width: 60%;
            height: 500px;   
        }
    }
}